.opinion{
    visibility: hidden;
    position: absolute;
    top:50%;
    left:50%;
    z-index:10;
    
transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}
.feedback{
 display: none; 
}
.show{
    display:block;
    
}
.open{
    visibility:visible;
}

.stars{
    height: 50px;
}

.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}

.rating > input {
  opacity: 0;
  margin-right: -100%;
  padding: 0 20px;
}

.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('star-off-big.png');
  background-size: 30px 30px;
}

.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('star-on-big.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}

.rating > label:hover:before,  .rating > label:hover ~ label:before,  .rating:not(:hover) > :checked ~ label:before { opacity: 1; }

ul{
 list-style-type:none;
}

.close{
 position:absolute;
  top:5px;
  right:5px;
  cursor:pointer;
 opacity: 0.5; 
}
.close:hover{
  opacity:1;
}